body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
} 


.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: black;
}

.header .nav-item {
  padding-right: 20px;
}

.header .nav-item .nav-link:hover {
  color: #ff9999;
  transition: 0.05s ease-out;
}

.header .nav-link {
  color: white;
  font-size: 1.1rem;
}

.header .nav-link-active {
  color: #d32f2f;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-logo img {
  width: 50px;
  border-radius: 50%;
}

.hero-section {
  margin: 0 auto;
  margin-top: 70px;
  padding: 200px 0;
  text-align: center;
  background: url('../assests/bg-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero-section p {
  font-size: 1.4rem;
}

.hero-section .btn1 {
  background-color: #d32f2f;
  border-color: #d32f2f;
  color: white;
}

.hero-section .btn1:hover {
  opacity: 0.8;
}

@media(max-width: 768px) {
  .hero-section {
    padding: 150px 0 70px;
    background-size: contain;
    background-position: center;
    height: 80vh;
    margin-top: -100px;
  }

  .hero-section .row {
    padding-top: 70px;
    margin-top: 0;
  }

  .hero-section h1 {
    font-size: 2.5rem;
  }

  .hero-section p {
    font-size: 1.1rem;
  }
}

@media(max-width: 590px) {
  .hero-section {
    margin-top: -150px;
    height: 100vh;
  }

  .hero-section .row {
    padding-top: 90px;
  }
}


@media(max-width: 500px) {
  .hero-section {
    height: 100vh;
  }
}

@media(max-width: 475px) {
  .hero-section {
    padding: 3% 0 0;
    margin-top: 70px;
    margin-bottom: 0;
    background-size: auto;
    height: 50vh;
    
  }

  .hero-section .row {
    padding-top: 50px;
    padding-bottom: 40px;
    margin-top: 0;
  }

  .hero-section h1 {
    font-size: 2.5rem;
  }

  .hero-section p {
    font-size: 1.1rem;
  }

  .hero-section .hero-button {
    margin-top: 20px;
  }
}

@media(max-width: 385px) {
  .hero-section .hero-button {
    margin-top: 0;
  }
}














@media(max-width: 991px) {
  .navbar-toggler {
    border-color: #d32f2f;
  }

  .navbar-toggler {
    color: #d32f2f;
  }

  .navbar-toggler-icon {
    filter: brightness(1000);
  }

}